footer{
    background-color:lightslategrey;
    justify-content:center;
}
.redes a{
    color: black;
}
.redes a:hover{
    color: red;
}
.redes img{
    width: 50px;
}
.derechos{
    text-align: end;
    color: black;
    margin: 0px 10px;
    font-size: 20px;
}