footer{
    @include fondo-pie;
    justify-content:center;
}
.redes a{
    @include color-negro;
}
.redes a:hover{
    @include hover-rojo;
}
.redes img{
    width: 50px;
}
.derechos{
    text-align: end;
    @include color-negro;
    margin: 0px 10px;
    font-size: 20px;
}